body {
    background-image: url("plainbackground.jpg");
    background-repeat: no-repeat;
    background-position: -50px -130px; 
    width: auto ;
    max-width: 100% ;
    height: auto ;
}

#remoteVideo {
    width:1280px;
    height:720px;  
}
.table1 {
    top:6%;
    left:10%;
    width:80%;
    height:85%;
    position:fixed;
    overflow:hidden;
}
#localVideo {
    width:360px;
    height:250px;
}
.table2 {
    right:4%;
    bottom:4%;
    width:23%;
    height:30%;
    position:fixed;
    overflow:hidden;
}
.row {
    bottom: 2%;
    right: 40%;
    position: fixed;
}
#waiting {
    top: 4%;
    position: fixed;
}